.historicodiv{
    position: absolute;
    background-color: rgb(100, 100, 100);
    right: 192px;
    display: grid;
    border-radius: 10px;
    padding-top: 35px;
    z-index: 3;
}

.historicoclosebutton{
    position: absolute;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 2em;
    color: white;
    padding-left: 12px;
    transition: color 0.3s ease;
}

.historicoclosebutton:hover{
    color: black;
}

.historicocontents{
    display: grid;
    justify-items: center;
    padding-top: 35px;
}

.historicotitle{
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}
/*----------------------------------------*/
.item-hist{
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.tipe-ap{
    background-color: rgb(20, 19, 19);
    width: 120px;
}

.value-ap{
    /* background-color: rgb(153, 70, 70); */
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-button{
    width: 28px;
    height: 24px;
}