.carouseldiv{
    position: relative;
    border: 3px solid black;
    border-radius: 8px;
    background-color: #303030;
    box-shadow: 6px 6px 6px rgb(50, 50, 50, 0.7);
    display: flex;
    align-items: center;
    width: 750px;
    margin: 10px 0;
    padding: 0 5px;
    pointer-events: none
}


.middlebar{
    position: absolute;
    background-color: rgb(109, 148, 255);
    width: 4px;
    height: 130px;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}