.carousel-container{
    background-color: black;
    width: 740px;
    margin-top: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    margin-right: 2px;
}


.traco {
    width: 5px;
    height: 150px;
    background-color: rgb(243, 250, 238);
    position: absolute; /* Faz com que a div se sobreponha */
    top: 29%; /* Ajuste conforme a necessidade */
    left: 505; /* Ajuste conforme a necessidade */
    z-index: 10; /* Controla a ordem de sobreposição */
}

