.numbersdiv{
    display: flex;
    gap: 15px;
    overflow: hidden;
}

.squarediv{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
}
